<div class="bg-blue-500 p-4">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Brand Name -->
        <div class="text-white text-2xl font-semibold">
            MatchScorer
        </div>

        <!-- Navigation Menu -->
        <nav class="space-x-4">
            <a [routerLink]="'/home'" href="#" class="text-white hover:text-gray-200">Home</a>
            <a [routerLink]="'/live'" href="#" class="text-white hover:text-gray-200">Live Matches</a>
            <a [routerLink]="'/history'" href="#" class="text-white hover:text-gray-200">History</a>
            <a [routerLink]="'/point-table'" href="#" class="text-white hover:text-gray-200">Points Table</a>
        </nav>
        <div></div>
    </div>
</div>

<router-outlet></router-outlet>
